body {
  margin: 0;
  padding: 0;   
  font-family: Arial, sans-serif;
}

/* ---HEADER--- */
header {
  background: darkblue;
  color: white;
  padding: 0;
  text-align: center;
}

#course-title {
  font-size: 1.7rem;
  font-weight: bold;
  padding: 1.5rem;
  display: inline-block;
}

#name {
  color: rgb(243, 217, 70);
}

/* ---NAVIGATION--- */
nav {
  background: rgb(36, 33, 33);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.1rem;
  font-size: 20px;
}

nav a {
  color: white;
  text-decoration: none;
}

/* ---MAIN--- */
main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 1rem;
  gap: 1rem;
}

.card {
    background: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 1rem;
}

.card h2 {
    background: #234f7a;
    color: white;
    margin: -1rem -1rem 1rem -1rem;
    padding: 0.75rem;
    border-radius: 10px 10px 0 0;
    text-align: center; 
}

.country {
  margin-top: 1rem;
  width: 100%;
}

.country h3 {
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 1.3em;
    text-align: center;
}

.flag-and-text {
  display: flex;
  align-items: center;
  gap: 15px;
}

.flag-and-text p {
  margin: 0;
  max-width: 50%;
}

.flag-and-text img {
  width: 150px;
  height: auto;
}

.flag-and-text figure {
  text-align: center;
}

.flag-and-text figcaption {
  font-size: 0.9em;
  margin-top: 0.3rem;
  color: #555;
}

.content {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    margin: 1rem 0;
    text-align: justify;
}

.content img {
    width: 150px;
    height: auto;
    border: 1px solid #ccc;
}

.card ul {
  list-style-type: disc;
  padding-left: 1.5rem;
}

.card ul li {
  margin: 0.5rem 0;
}

.card ul li a:hover {
  text-decoration: underline;
  color: #234f7a;
}

/* ---FOOTER--- */
footer {
  background: #234f7a;
  grid-column: 1 / 3;
  padding: 1rem;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 0;
  gap: 0;
}

footer p {
  font-size: 20px;
  color: white;
}

#lastModified {
  font-size: 15px;
  color: yellow;
}
